#tribe-dashboard{}
#tribe-dashboard h1{margin:0;}
#tribe-panel-contain,#tribe-panel-contain ul{border-right:solid 1px #2a2a2a;padding:0px;margin:0;list-style:none;float:left;width:59px;background:#1d1d1d;height:100%;position:fixed;top:0px;}
#tribe-panel-contain li.tribe-tab,div.tribe-tab{position:relative;float:left;padding:8px;border:solid 1px #2a2a2a;width:59px;height:60px;padding:0px;border-left:none;background:#232323;text-align:center;cursor:pointer;font-family:Icons;}
#tribe-panel-contain li.tribe-tab:not(:first-child).selected i{opacity:1;text-shadow: 1px 1px #000000;}
/* #tribe-panel-contain li.tribe-tab:not(:first-child).before-selected{border-bottom:solid 1px #2a2a2a;}
#tribe-panel-contain li.tribe-tab:not(:first-child).after-selected{border-top:solid 1px #2a2a2a;margin-top:0px;} */
#tribe-panel-contain li.tribe-tab:first-child{border-top:none;background:#de8800;border-color:#ff9c01;}
#tribe-panel-contain li.tribe-tab:not(:first-child){margin-top:1px;border-bottom:none;}
#tribe-panel-submenu{position:fixed;left:60px;background-image:url(../../images/patterns/submenu-shade.png);background-color:#111111;height:100%;width:250px;top:0px;background-repeat:repeat-y;left:60px;}
.icon-menu-left i,#logout-tab i{color:#FFFFFF;font-size:16px;top:22px;position:absolute;left:20px;opacity:.1;}
#tribe-panel-contain .tribe-tab:not(:first-child):hover i{opacity:1;}
.sub-menu-content{position:fixed;width:250px;height:100%;}
.sub-menu-content h1{border-bottom:solid 1px #373737;margin:0 auto;padding:0;padding-top:24px;padding-bottom:15px;font-weight:normal;color:#373737;font-size:18px;width:90%;}
#logout-tab{position:absolute;width:59px;height:59px;bottom:0px;}
#profile-tab{position:absolute;bottom:61px;border-bottom:solid 1px #1d1d1d;}
.hide{display:none;}
#profile-picture-small{width:32px;height:32px;background:#F0F0F0;margin-left:11px;margin-top:11px;border-radius:3px;border:solid 3px #FFF;-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);}
#profile-info-popup{width:250px;height:123px;background:#232323;position:fixed;left:60px;bottom:0px;z-index:999;}
.notification-indicator{color:#FFF;font-family:Ubuntu;font-size:12px;position:absolute;right:-5px;top:0px;width:20%;background:red;padding-top:14px;padding-bottom:14px;z-index:9999!important;}
#tribe-global-search{position:fixed;left:67px;z-index:99;top:7px;}
#tribe-global-search input{background-image:url(../../images/search-24.png);background-repeat:no-repeat;background-position:11px 11px;background-color:#232323;border:solid 1px #2a2a2a;font-size:16px;padding:15px;width:236px;border-radius:3px;padding-left:46px;-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);}
#tribe-global-actions{position:fixed;background:#ff9c01;width:249px;height:100%;;left:61px;z-index:999;}