
@font-face {
	font-family: 'Batch';
	src:url('../fonts/batch-icons-webfont.eot?-fvbane');
	src:url('../fonts/batch-icons-webfont.eot?#iefix-fvbane') format('embedded-opentype'),
		url('../fonts/batch-icons-webfont.woff?-fvbane') format('woff'),
		url('../fonts/batch-icons-webfont.ttf?-fvbane') format('truetype'),
		url('../fonts/batch-icons-webfont.svg?-fvbane#themify') format('svg');
	font-weight: normal;
	font-style: normal;
}

.batch {
        font-family:"Batch"; /*or whatever you've decalred your font name as*/
        font-size:16px;
        line-height:1;
        display:inline-block;
}

.batch:before {
    content:attr(data-icon);
}
@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-R.ttf);
}
.ubuntu-font{font-family:'Ubuntu';}